{% load make_link %}
{%load humanize%}
{%load bootstrap4%}
<div class="card col-6 my-5">
    <div style="margin-left:auto;" class="mt-2">
        <a href="{%url 'posts:delete' post.id%}" class="mt-2"><i class="fas fa-trash-alt text-dark"></i></a>
        <a href="{%url 'posts:update' post.id%}" class="mt-2"><i class="fas fa-edit text-dark"></i></a>
    </div>

    <img src="{{post.image.url}}" class="card-img-top my-2" alt="...">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            {%if request.user in post.like_users.all%}
            <a href="{%url 'posts:like_post' post.id%}" class="btn btn-primary bg-light btn-outline-light "><i
                    class="fas fa-heart text-danger mb-2 "></i><span class="text-dark">
                    {{post.like_users.all|length}}</span></a>
            {%else%}
            <a href="{%url 'posts:like_post' post.id%}" class="btn btn-primary text-dark btn-light "><i
                    class="far fa-heart mb-2"></i><span class="text-dark"> {{post.like_users.all|length}}</span></a>
            {%endif%}
        </div>
        <hr>
        <div class="d-flex ">
            <a href="{%url 'accounts:user_page' post.user.id%}">
                <h6 class="card-title">{{post.user.username}}</h6>
            </a>

        </div>
        <p class="card-text" style="min-height: 100px;">{{post|hashtag_link|safe}}</p>
        <div>
            <p>{{post.created_at|naturaltime}}</p>
        </div>
        <hr>
        <!-- hashtage_link(post) -->
        <!-- 링크가 안전하다고 알려주는 것(안하면 text가 그대로 나옴) -->
        <form action="{%url  'posts:comment_create' post.id%}" method="post">
            {%csrf_token%}
            {%bootstrap_form form%}
            <input type="submit" class="btn btn-primary btn-sm" value="게시">
        </form>


        <hr>

        {%for comment in post.comment_set.all%}
        <div class="align-items-center d-flex justify-content-between">
            <h6>{{comment.user.username}} : {{comment|hashtag_link|safe}}</h6>
            {%if request.user in comment.like_users.all%}
            <a href="{%url 'posts:like_comments' post.id comment.id%}"
                class="btn btn-primary bg-light btn-outline-light mb-2"><i class="fas fa-heart text-danger "></i><span
                    class="text-dark">
                    {{comment.like_users.all|length}}</span></a>
            {%else%}
            <a href="{%url 'posts:like_comments' post.id comment.id%}"
                class="btn btn-primary text-dark btn-light mb-2"><i class="far fa-heart"></i><span class="text-dark">
                    {{comment.like_users.all|length}}</span></a>
            {%endif%}
        </div>


        {%endfor%}
    </div>
</div>